1Daw/LMSGI/Repositorios/b1p5-vjp-walterML-master/opendata/farmacias.dtd

<!ELEMENT sparql (head,results)>
<!ELEMENT head (variable)>
<!ELEMENT variable EMPTY>
<!ATTLIST variable name NMTOKEN #REQUIRED>
<!ELEMENT results (result+)>
<!ATTLIST results distinct NMTOKEN #REQUIRED>
<!ATTLIST results ordered NMTOKEN #REQUIRED>
<!ELEMENT result (binding)>
<!ELEMENT binding (uri)>
<!ATTLIST binding name NMTOKEN #FIXED "Concept">
<!ELEMENT uri (#PCDATA)>