1Daw/LMSGI/Repositorios/b1p5-vjp-walterML-master/plantas.dtd

<!ELEMENT CATALOGO (PLANTA+)>
<!ELEMENT PLANTA (NOMBRE_COMUN,NOMBRE_CIENTIFICO,ZONA,LIGHT,PRECIO,DISPONIBILIDAD)>
<!ELEMENT NOMBRE_COMUN (#PCDATA)>
<!ELEMENT NOMBRE_CIENTIFICO (#PCDATA)>
<!ELEMENT ZONA (#PCDATA)>
<!ELEMENT LIGHT (#PCDATA)>
<!ELEMENT PRECIO (#PCDATA)>
<!ELEMENT DISPONIBILIDAD (#PCDATA)>